body {
  font-family: Arial;
  font-size: 16px;
}

.logo {
  float: left;
  margin: 15px;
}

.notes {
  float: left;
  padding: 5px;
  list-style: none;
}

.form {
  clear: both;
}

.form input,
.form textarea {
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  margin: 5px;
  border: 1px #999 solid;
  background: #fff;
}

.form textarea {
  height: 100px;
}
